.header {

	height: 950px;
	background: url('../images/dest/header.jpg') no-repeat;
	
	.navbar {
		color: #fff;
		padding: calc(var(--index) * 1.2) 0;
		border-bottom: 1px solid rgba(255,255,255,.25);
		transition: .2s;

		&:hover {
			border-color: var(--color-second)
		}

		.container {
			position: relative;
			z-index: 1000;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 40px;
		}

		&-dropdown {
			width: 100%;
			height: 100vh;
			position: absolute;
			top: 0;
			left: -200vw;
			z-index: 999;
			padding-top: 25vh;
			background: var(--color-first);
			transition: .2s;

			&.active {
				display: flex;
				flex-direction: column;
				gap: 50px;
				left: 0;
			}
		} // navbar-dropdown

	} // navbar

	.logo {

		position: relative;
		z-index: 1000;

		font-size: 25px;
		font-weight: 600;
		color: #fff;
		text-shadow: 1px 1px #1c1c1c;
		text-transform: uppercase;
		transition: .2s;

		&:hover {
			color: var(--color-second);
		}

		@media (min-width: 1921px) {
			font-size: calc(var(--index) * 2);
		}
	} // logo

	&-menu {
		display: flex;
		gap: var(--index);

		@media (max-width: 1400px) {
			height: 60vh;
			flex-direction: column;
			align-items: center;
		}

		@media (max-width: 990px) {
			height: 50vh;
		}

		&__link {
			font-size: 16px;
			font-weight: 600;
			color: #fff;
			text-shadow: 1px 1px #1c1c1c;
			padding: calc(var(--index) * .05) calc(var(--index) * .1);
			transition: .2s;

			&:hover {
				color: var(--color-second);
			}

			@media (max-width: 1400px) {
				display: flex;
				justify-content: center;
				
				padding: calc(var(--index) * .5) 0;
			}

			@media (max-width: 990px) {
				width: 100%;
				padding: calc(var(--index) * .7) 0;	
			}

			@media (min-width: 1921px) {
				font-size: calc(var(--index) * 1.2);
			}
		}
	} // header-menu

	.toolbar {
		display: flex;
		align-items: center;
		gap: 20px;

		@media (max-width: 1400px) {
			justify-content: center;
		}

		.buttons {
			display: flex;
			gap: 15px;
		}
	} // toolbar

	.search, .message {
		width: 40px;
		height: 40px;
		border: 1px solid rgba(255,255,255,.25);
		border-radius: 100%;
		transition: .2s;
		cursor: pointer;

		&:hover {
			border-color: var(--color-second);
		}
	}

	.search {
		background: url('../images/dest/icons/search.svg') center no-repeat;
	}

	.message {
		background: url('../images/dest/icons/whatsapp.svg') center no-repeat;
	}

	.phone {
		font-size: 16px;
		font-weight: 600;
		font-family: 'Arial';
		text-shadow: 1px 1px #1c1c1c;
	}

	&-content {

		padding-top: 215px;

		@media (max-width: 768px) {
			padding-top: 120px;
		}

		@media (max-width: 576px) {
			padding-top: 90px;
		}

		.container {
			position: relative;
		}

		&__title {
			font-size: 70px;
			color: #fff;
			font-weight: 500;
			text-transform: uppercase;
			line-height: 113%;
			margin-bottom: 30px;
			text-shadow: 2px 2px #1c1c1c;

			@media (max-width: 576px) {
				font-size: 63px;
			}

			@media (max-width: 450px) {
				font-size: 55px;
			}

			span {

				font-size: 90px;

				@media (max-width: 576px) {
					font-size: 80px;
				}

				@media (max-width: 450px) {
					font-size: 65px;
				}
			}
		}

		&__text {
			font-size: 23px;
			font-weight: 500;
			color: #fff;
			line-height: 140%;
			margin-bottom: 30px;
			text-shadow: 1px 1px #1c1c1c;

			@media (max-width: 450px) {
				font-size: 20px;
			}
		}

		&__title,
		&__text {
			max-width: 700px;
		}
	} // header-content

	&-form {

		width: 480px;
		height: 560px;
		position: absolute;
		top: -115px;
		right: var(--index);
		background: #fff;

		@media (max-width: 1250px) {
			position: relative;
			top: auto;
			bottom: -60px;
			right: auto;

			&::before {
				display: block;
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				background-color: #fff;
				background-image: url('../images/dest/help_choosing.jpg');
				background-size: cover;
				background-repeat: no-repeat;
				opacity: .2;

				@media (max-width: 768px) {
					display: none;
				}
			}
		}

		@media (max-width: 500px) {
			width: 100%;
			height: 600px;
		}

		@media (min-width: 500px) and (max-width: 1250px) {
			width: 100%;
		    padding: 50px 0;
		    height: auto;
		    bottom: -265px;
		}

		@media (max-width: 768px) {
			padding: 40px 0;
			bottom: -350px;
		}

		@media (max-width: 576px) {
			padding: 20px 0 40px;
			bottom: -330px;
		}

		&-box {
			position: relative;
			width: 100%;
			height: 100%;
			padding: 45px;
			background: #fff;
			z-index: 1;

			@media (max-width: 576px) {
				padding: 25px;
			}

			@media (min-width: 577px) and (max-width: 1250px) {
				width: 480px;
				margin: 0 auto;
			}
		} // header-form-box

		&__title {
			font-size: 24px;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 10px;

			@media (max-width: 500px) {
				padding-right: 32%;
			}

			@media (max-width: 420px) {
				padding-right: 20%;
			}
		}

		&__text {
			font-size: 16px;
			line-height: 140%;
			margin-bottom: 27px;
			color: rgba(0,0,0,.7);
		}

	} // header-form

	.help-choosing {

		input {
			height: 60px;
			display: flex;
			align-items: center;
		}

		textarea {
			height: 80px;
			resize: none;
		}

		input,
		textarea {
			width: 100%;
			padding: 20px;
			font-size: 16px;
			font-family: 'Raleway';
			border: 1px solid #e2e2e2;
			margin-bottom: 13px;

			&::placeholder {
				color: rgba(0,0,0,.5);
			}
		}

		button {
			width: 100%;
			margin-bottom: 16px;
		}

		&__agreement {
			padding-right: 40px;
			font-size: 14px;
			color: rgba(0,0,0,.5);

			@media (max-width: 500px) {
				padding: 0;
			}

			a {
				color: rgba(0,0,0,.5);
				text-decoration: underline;
			}
		}

	} // help-choosing

	.header-filter {
		width: 100%;
		padding: 45px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		position: relative;
		bottom: -140px;
		background: #121212;

		@media (max-width: 1250px) {
			bottom: 570px;
		}

		@media (max-width: 990px) {
			padding: 30px;
			align-content: center;
			flex-wrap: wrap;
			gap: 10px;
			bottom: 600px;
		}

		@media (max-width: 768px) {
			margin-bottom: 50px;
			bottom: 550px;
		}

		@media (max-width: 576px) {
			padding: var(--index);
		}

		&__item,
		&__button {
			flex: 1;
			height: 55px;
		}

		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			border: 1px solid rgba(255,255,255,.3);
			transition: .2s;

			&:hover {
				cursor: pointer;
				border-color: var(--color-second-active);
			}

			@media (max-width: 768px) {
				flex-basis: 48%;
			}
		}

		&__button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;

			@media (max-width: 990px) {
				width: 100%;
				flex-basis: 100%;
			}
		}
	}

} // header