.header-menu {

	display: flex;
	gap: var(--index);

	@media (max-width: 1400px) {
		height: 60vh;
		flex-direction: column;
		align-items: center;
	}

	@media (max-width: 990px) {
		height: 50vh;
	}

	&__link {
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		text-shadow: 1px 1px #1c1c1c;
		padding: calc(var(--index) * .05) calc(var(--index) * .1);
		transition: .2s;

		&:hover {
			color: var(--color-second);
		}

		@media (max-width: 1400px) {
			display: flex;
			justify-content: center;
			
			padding: calc(var(--index) * .5) 0;
		}

		@media (max-width: 990px) {
			width: 100%;
			padding: calc(var(--index) * .7) 0;	
		}

		@media (min-width: 1921px) {
			font-size: calc(var(--index) * .5);
		}
		
	} // &__link

} // header-menu