.logo {

	position: relative;
	z-index: 1000;

	font-size: 25px;
	font-weight: 600;
	color: #fff;
	text-shadow: 1px 1px #1c1c1c;
	text-transform: uppercase;
	transition: .2s;

	&:hover {
		color: var(--color-second);
	}

	@media (min-width: 1921px) {
		font-size: var(--index);
	}

	@media (max-width: 990px) {
		font-size: 23px;
	}

	@media (max-width: 767px) {
		font-size: 20px;
	}	

	@media (max-width: 576px) {
		font-size: 17px;
	}

	@media (min-width: 768px) and (max-width: 1400px) {
		flex: 1;
	}

} // logo